{% extends "encyclopedia/layout.html" %}

{% block title %}
Edit Wiki Entry
{% endblock %}

{% block body %}
<h2 class="edit-page-title">Edit Wiki Entry</h2>
<form action="/save_entry" method="post">
    <div class="edit-page-container">
        {% csrf_token %}
        <!-- Hidden flag for new entry or editing existing entry -->
        <input type="hidden" name="new-or-edit" value="Edit">
        <!-- Entry title -->
        <input class="edit-page-field entry-title" type="text" placeholder="Entry title" name="title" value="{{ entry_title }}">
        <!-- Textarea for Markdown -->
        <textarea class="edit-page-field entry-content" type="text" placeholder="Markdown text for entry content" name="content">{{ entry_content }}</textarea>
        <!-- Save button -->
        <div class="save-button-container">
            <button class="btn btn-primary save-button" type="submit">Save</button>
        </div>
    </div>
</form>
{% endblock %}