{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>All Pages</h1>

    <ul>
        {% for entry in entries %}
            <li>
                <!-- Adding an anchor tag, which links to the entry name. 
                    Recall that in our urls.py, if we enter wiki/{entry_name}, we execute views.entry and render the page for that wiki entry -->
                <a href="wiki/{{ entry }}">{{ entry }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}